
* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
  }
  
.contenedor-header{
  background: #fd35c1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.contenedor-header header{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.contenedor-header header .logo a{
  font-family: 'Arial';
  font-size: 36px;
  color: #f5bfe7;
  text-decoration: none;
}
.contenedor-header header ul{
  display: flex;
  list-style: none;
}
.contenedor-header header nav ul li a{
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: .5s;
  text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
  color: #e989d4;
}
.nav-responsive{
  background-color: #f89ad7;
  color:#fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      font-size: 7em;
      text-shadow: 2px 2px 4px #000000;
      z-index: 1;
      
    }
  
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 3.5;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
 
  .project {
    margin-bottom: 2rem;
  }
  
  .project img {
    max-width: 100%;
  }
  
  .project h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .project p {
    margin-bottom: 1rem;
  }
  
  .project a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .project a:hover {
    background-color: #555;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  ul li {
    width: 33.33%;
    padding: 0.5rem;
  }
  
  ul li:before {
    content: "\2022";
    margin-right: 0.5rem;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    }

    
    
