
* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 3.5;
  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  header {
      position: relative;
      height: 100vh;
      overflow: hidden;
    }  

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      font-size: 5em;
      text-shadow: 2px 2px 4px #000000;
      z-index: 1;
    }
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #e28a8a;
  }
  
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
 
  .project {
    margin-bottom: 2rem;
  }
  
  .project img {
    max-width: 100%;
  }
  
  .project h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .project p {
    margin-bottom: 1rem;
  }
  
  .project a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .project a:hover {
    background-color: #555;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  ul li {
    width: 33.33%;
    padding: 0.5rem;
  }
  
  ul li:before {
    content: "\2022";
    margin-right: 0.5rem;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    }

    
    
